{% extends 'base.html' %}

{% block content %}
<style>
  .cards{
    display: flex;
    flex-wrap: wrap;
  }
  .card-icon{
    font-size: 17px;
    cursor: pointer;
  }
  .card-icon:hover{
    transition: 0.2s all ease-in-out;
    transform: scale(1.4);
  }
  #qrcode{
    width: fit-content;
    margin: auto;
  }
  .card{
    position: relative;
  }
  .more-icon{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 10px;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: white;
    /* transform: rotate(180deg); */
    display: none;
    cursor: pointer;
  }
  .more-menu{
    z-index: 2;
    right: -170px;
    top: 23px;
    width: 200px;
    position: absolute;
  }
  @media (max-width:1000px) {
    .container{
      margin-left: 3rem;
      max-width: 96% !important;
      width: 960%;
    }
    .card{
      width: 15rem;
    }
  }
  @media (max-width:700px) {
    .container{
      width: 96%;
      margin: auto;
    }
    .add-page-btn{
      width: 90%;
      margin: auto;
      display: block;
    }
    .cards{
      width: 100%;
      justify-content: center;
    }
    .card{
      width: 300px !important;
      margin: auto;
    }
    .card img{
      height: 180px;
    }
    .more-menu{
      width: 160px !important;
      right: 35px;
      top: 25px;  
    }
  }
</style>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
</script>
<h2 class="text-center">Your Cards</h2>
<a href="/" class="btn btn-info mb-4 add-page-btn">Add Card</a>
<div class="cards">
    {% for card in cards %}
    <div class="card m-4" id="card-{{card.id}}" style="width: 16rem;" onmouseover="showMenuIcon('{{forloop.counter}}')" onmouseout="removeMenuIcon('{{forloop.counter}}')">
      <span class="more-icon" id="more-icon-{{forloop.counter}}" onmouseover="showMenu('{{forloop.counter}}')"><i class="fa-solid fa-caret-down"></i></span>
      <div class="card more-menu" id="more-menu-{{forloop.counter}}" style="display: none;" onmouseleave="removeMenu('{{forloop.counter}}')">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="/card/share/{{card.id}}"><span class="me-2"><i class="fa-solid fa-floppy-disk"></i></span> Save Contact</li></a>
          <li class="list-group-item"><a href="/card/{{card.id}}/edit/"><span class="me-2"><i class="fa-solid fa-pen"></i></span> Edit</li></a>
          <li class="list-group-item" style="cursor: pointer;" onclick="confirmDelete('{{card.id}}')"><span class="me-2"><i class="fa-solid fa-trash"></i></span> Delete</li>
          <li class="list-group-item"><a target="_blank" href="/card/{{card.id}}"><span target="_blank" href="/card/{{card.id}}" class="me-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span> View</li></a>
          <li class="list-group-item" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#qrcode-modal" onclick="generateQr('{{card.id}}','{{card.name}}')"><span class="me-2"><i class="fa-solid fa-qrcode"></i></span> Qrcode</li>
          <li class="list-group-item" style="cursor: pointer;" onclick="copyCardLink('{{card.id}}')"><span class="me-2"><i class="fa-solid fa-copy"></i></span> Copy Link</li>
        </ul>
      </div>
        <img height="170px" onmouseenter="removeMenu('{{forloop.counter}}')" src="{{domain}}/image/{% firstof  card.headshotImage "no-headshot-image.png" %}" class="card-img-top" alt="...">
        <div class="card-body pb-1">
          <h5 class="card-title">{{card.name}}</h5>          
        </div>
        <ul class="list-group list-group-flush">
          <h6 class="list-group-item mb-2">Views: {{card.views}}</h6>
          <h6 class="list-group-item mb-2 text-muted">Created On: {{card.date_created}}</h6>
        </ul>
      </div>
    {% endfor %}
</div>
<div class="modal fade" id="qrcode-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">QRCode for card</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="w-100">
          <div id="qrcode"></div>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" id="qr-share" href="#" target="_blank">Show QR</a>
        <!-- <button type="button" class="btn btn-primary" id="qr-share" onclick="copyQrLink()">Copy QR Link</button> -->
        <!-- <a href="#" class="btn btn-primary" id="qr-download" download>Download</a> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
    const generateQr = (id,name) => {
      const qrDiv = document.getElementById('qrcode')
      qrDiv.innerHTML = ""
      var qrcode = new QRCode("qrcode",
      `{{domain}}/card/${id}`);

      document.getElementById("qr-share").setAttribute("href",`/card/${id}/qr`)
      // document.getElementById("qr-share").setAttribute("onClick",`copyQrLink(${id})`)

      // // adding download link
      // setTimeout(() => {
      //   const qrImage = document.querySelector('#qrcode img')
      //   const url = qrImage.getAttribute('src')
      //   console.log(url);
      //   const qrDownload = document.getElementById('qr-download')
      //   qrDownload.setAttribute('href',url)
      // }, 500);
    }

    const unsecuredCopyToClipboard = (text,id) => { 
      const textArea = document.createElement("textarea");
      console.log("card-"+id);
       textArea.value=text; document.getElementById('card-'+id).insertAdjacentElement('afterbegin',textArea);
        textArea.focus();textArea.select();
         try{document.execCommand('copy')}
         catch(err){console.error('Unable to copy to clipboard',err)}document.getElementById('card-'+id).removeChild(textArea)};

    const copyCardLink = (id) => {
      if (window.isSecureContext && navigator.clipboard) {
        navigator.clipboard.writeText(`{{domain}}/card/${id}`);
      } else {
        unsecuredCopyToClipboard(`{{domain}}/card/${id}`,id);
      }
    };

    // const copyQrLink = id => {
    //   if (window.isSecureContext && navigator.clipboard) {
    //     navigator.clipboard.writeText(`{{domain}}/card/${id}/qr`);
    //   } else {
    //     unsecuredCopyToClipboard(`{{domain}}/card/${id}/qr`,id);
    //   }
    // }

    // MORE MENU
    const showMenuIcon = (id) => {
      const menus = document.querySelectorAll(".more-menu")
      menus.forEach(menu => {
        if(menu.id != `more-menu-${id}`)
        menu.style.display = 'none'
      })
      document.getElementById("more-icon-"+id).style.display="unset"
    }

    const removeMenuIcon = (id) => {
      document.getElementById("more-icon-"+id).style.display="none"
    }

    const showMenu = id => {
      const menu = document.getElementById(`more-menu-${id}`)
      menu.style.display = 'unset'
    }

    const removeMenu = id => {
      document.getElementById(`more-menu-${id}`).style.display='none'
    }

    // delete
    const confirmDelete = id => {
      if(window.confirm("Are you sure you want to delete the card?")){
        window.location.href = `/card/${id}/delete`
      }
    }
</script>

{% endblock content %}
